<style>
.youtube-wrapper {
  padding-bottom: {{ include.ratio }};
}
</style>

{% if include.src %}
<video controls preload width="{{ include.width }}" class="center" poster="{{ include.poster }}" src="{{ include.src }}">
{% endif %}

<div class="youtube-wrapper">
  <iframe src="https://www.youtube-nocookie.com/embed/{{ include.id }}" loading="eager" class="youtube-lazy" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    {{ include.alt }} (youtube id {{ include.id }})
  </iframe>
</div>

{% if include.src %}
</video>
{% endif %}


<!--script>
  var lazysrc = "https://www.youtube-nocookie.com/embed/{{ include.id }}"
  function setYoutubeLazy (src) {
    document.getElementByClass('youtube-lazy').src = src
  }

  document.addEventListener("DOMContentLoaded",
    setYoutubeLazy(lazysrc)
  )
/*
  window.addEventListener("online", function(event) {
    setYoutubeLazy(lazysrc)
    alert ("online")
  })
  window.addEventListener('offline', function(event) {
    setYoutubeLazy("")
  })
*/
</script-->
