<style>
.youtube-wrapper {
  padding-bottom: {{ include.ratio }};
}
</style>

<video width="144" class="center" controls preload poster="{{ include.poster }}" src="{{ include.video }}">

<div class="youtube-wrapper">
  <iframe src="https://www.youtube-nocookie.com/embed/{{ include.id }}" loading="eager" class="youtube-lazy" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    <h1>h1 test</h1>
  </iframe>
</div>

</video>


<!--script>
  var lazysrc = "https://www.youtube-nocookie.com/embed/{{ include.id }}"
  function setYoutubeLazy (src) {
    document.getElementByClass('youtube-lazy').src = src
  }

  document.addEventListener("DOMContentLoaded",
    setYoutubeLazy(lazysrc)
  )
/*
  window.addEventListener("online", function(event) {
    setYoutubeLazy(lazysrc)
    alert ("online")
  })
  window.addEventListener('offline', function(event) {
    setYoutubeLazy("")
  })
*/
</script-->
