.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
}

.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.tiny {
  max-width: 200px;
}

.small {
  max-width: 400px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

article h4 {
  margin-top: 2em;
}

.template {
  font-size: small;
  white-space: pre-line;
}

pre, code {
  word-wrap: break-word;
}

form#subscribe {
  .success {
    text-color: green;
  }
  .error {
    color: red;
  }
  label {
    display: block;
  }
  input {
    width: 97%;
  }
  button {
    width: 97%;
  }
  textarea {
    padding-top: 0;
    margin-top: 0;
    width: 97%;
    max-height: 50%;
  }
}
