<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

<section id="thumbnails">
  {% assign gallery = site.static_files | where: "image", true | reverse %}
  {% for image in gallery %}
  {% if image.path contains page.subgallery %}
  <article>
   <a name="{{ image.basename }}" />
   <h4><a href="{{ image.basename | replace: "_", " " }}">#{{ image.name }})</a></h4>
   <a class="thumbnail" href="{{ image.path }}" data-position="{{ site.thumbnail_position }}"><img src="{{ image.path }}" alt="{{ image.basename }}" /></a>
  </article>
  {% endif %}
  {% endfor %}
</section>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
